In [2]:
import xml.etree.ElementTree as ET
import pandas as pd
import json

- Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

- Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [55]:
df_video= pd.read_csv("videogames.csv", index_col = 0)
df_video

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True




- Una vez creado el Dataframe, muestra las 10 primeras filas.

In [25]:
df_video.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

- Â¿CÃºal es el Ãºltimo Ã­ndice que tenemos en el Dataframe?

In [26]:
df_video.index[-1]

20802

- Mostrar 15 filas aleatorias.

In [27]:
df_video.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
8494,Power Moves,https://www.imdb.com/title/tt5797136/?ref_=adv...,1992.0,NaN,5.8,6,Add a Plot,True,False,False,False,False,False,False,False,False
3962,Stronghold 2,https://www.imdb.com/title/tt0467493/?ref_=adv...,2005.0,NaN,6.9,193,To keep and to develop your castle for gain po...,True,False,False,False,False,False,False,False,False
2286,Half-Life: Decay,https://www.imdb.com/title/tt5886090/?ref_=adv...,2001.0,M,7.3,58,Step into the HEV Suits of Black Mesa scientis...,True,False,False,False,False,False,False,True,True
19754,Alien Crossfire,https://www.imdb.com/title/tt0432471/?ref_=adv...,1999.0,E,7.5,39,Add a Plot,False,False,False,False,False,False,False,True,False
19676,"Warhammer 40,000 Regicide",https://www.imdb.com/title/tt5289756/?ref_=adv...,2015.0,NaN,6.7,18,Add a Plot,False,False,False,False,False,False,False,True,False
18538,Ghox,https://www.imdb.com/title/tt2543004/?ref_=adv...,1991.0,NaN,5.2,9,Add a Plot,False,False,False,False,False,True,False,False,False
8332,Railfan,https://www.imdb.com/title/tt2306958/?ref_=adv...,2006.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
19784,Stunt Racer 64,https://www.imdb.com/title/tt5466362/?ref_=adv...,2000.0,E,5.6,6,Add a Plot,False,False,False,False,False,False,False,True,False
10376,Machinarium,https://www.imdb.com/title/tt2395486/?ref_=adv...,2009.0,NaN,8.1,515,A point-and-click adventure in which a humble ...,False,True,False,False,False,False,True,True,False
14508,Word Rescue,https://www.imdb.com/title/tt13039444/?ref_=ad...,1992.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,True,False,False,False,False
14335,Midnight Raiders,https://www.imdb.com/title/tt2032498/?ref_=adv...,1994.0,NaN,NaN,NaN,You get orders to execute a top secret mission...,True,True,False,True,False,False,False,False,False
18815,Hello kitty: Big City Dreams,https://www.imdb.com/title/tt21255672/?ref_=ad...,2008.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,True,False,False,False
10791,The Pink Panther: Hokus Pokus Pink,https://www.imdb.com/title/tt7467584/?ref_=adv...,1998.0,E,8.0,11,Traveling salesman Pink Panther must go around...,False,True,True,False,False,False,False,False,False
2044,Minesweeper,https://www.imdb.com/title/tt0285729/?ref_=adv...,1989.0,NaN,6.5,971,Minesweeper is a single-player puzzle game whe...,True,False,False,False,True,False,False,False,False
17634,Rapids,https://www.imdb.com/title/tt7130422/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,True,False,False,False,False

- Crea una lista con el nombre de las columnas.

In [30]:
columnas = df_video.columns

In [31]:
column_list = []
for elemento in columnas:
    column_list.append(elemento)

In [32]:
print (column_list)

['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller']

- Guardar el Dataframe en formato Excel y despuÃ©s crear un Dataframe con el Excel. Â¿EL Dataframe es similar al que tenÃ­ais antes

In [35]:
df_video.to_excel("video.xlsx")

In [36]:
df_video = pd.read_excel("video.xlsx", index_col = 0)
df_video

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

- Muestra la "info" del Dataframe.

In [39]:
df_video.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

- Â¿Tiene nulos o duplicados?

In [44]:
df_video.duplicated().sum()

1

In [45]:
df_video.isnull().sum()

name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

- Obtener la descripciÃ³n del Dataframe, tanto de las columnas numÃ©ricas cÃ³mo de las de tipo "object". Explorar el resultado y sacar unas mÃ­nimas comclusiones sobre los datos que habÃ©is obtenido.

In [50]:
df_video.describe(include=object)

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

In [51]:
df_video.describe()

               year        rating
count  20536.000000  11600.000000
mean    2005.568611      7.047526
std       11.846028      1.235204
min     1952.000000      1.000000
25%     1997.000000      6.400000
50%     2008.000000      7.200000
75%     2016.000000      7.900000
max     2027.000000      9.700000

In [53]:
df_video.describe(include='all')

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
count,20803,20803,20536.000000,7903,11600.000000,11600,20803,20803,20803,20803,20803,20803,20803,20803,20803,20803
unique,19714,20157,NaN,21,NaN,1905,11276,2,2,2,2,2,2,2,2,2
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,NaN,T,NaN,7,Add a Plot,True,False,False,False,False,False,False,False,False
freq,9,4,NaN,2474,NaN,318,8874,11930,10469,19020,19908,17928,16453,19618,17213,20280
mean,NaN,NaN,2005.568611,NaN,7.047526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,11.846028,NaN,1.235204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1952.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,1997.000000,NaN,6.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2008.000000,NaN,7.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2016.000000,NaN,7.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,2027.000000,NaN,9.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


- Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original.

In [54]:
df_video.to_csv("video_2.csv")